{
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:jest/all"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "jest"],
  "settings": {
    "import/extensions": [".js", ".ts"],
    "import/parsers": {
      "@typescript-eslint/parser": [".ts"]
    },
    "import/resolver": {
      "typescript": {
        "project": "./tsconfig.json"
      },
      "node": {
        "extensions": [".js", ".ts"]
      }
    }
  },
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off"
  }
}
